name: Upadte Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * 0" # 1AM on Sunday

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@95f009f8cba987d36d7e3396d29de81b2883654a

      - name: Update Lockfile
        working-directory: ./nix-darwin # Ensure correct directory
        run: nix flake update

      - name: Commit and Push
        uses: endbug/add-and-commit@v9
        with:
          message: "chore: update flake inputs"
