name: "Check Nix Configurations"
on:
  pull_request:
  push:
    branches: 
      - '**'  # This will run on all branches

jobs:
  check-darwin:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Lix
      run: |
        curl -sSf -L https://install.lix.systems/lix | sh -s -- install
        echo "/nix/var/nix/profiles/default/bin" >> $GITHUB_PATH
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Build Darwin Configuration
      working-directory: ./nix-darwin  # Ensure we're in the right directory
      run: |
        nix build .#darwinConfigurations.macbook.system
        ./result/sw/bin/darwin-rebuild check --flake .#macbook
