name: "Check Nix Configurations"
on:
  pull_request:
  push:
    branches: 
      - '**'  # This will run on all branches

jobs:
  check-darwin:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@95f009f8cba987d36d7e3396d29de81b2883654a
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - name: Build Darwin Configuration
      working-directory: ./nix-darwin  # Ensure we're in the right directory
      run: |
        nix build .#darwinConfigurations.macbook.system
        sudo ./result/sw/bin/darwin-rebuild check --flake .#macbook
